<!doctype html>
<html lang="fr">
  <head>
    <title>PARTIEL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
    <body>


        <div class="container">
            <form action="/send" method="POST" enctype="multipart/form-data" class="form-group">
                <input class="form-control" type="text" name="title" placeholder="Titre" required></input>
                <input type="file" class="inputfile" accept="image/png, image/jpeg" name="img" placeholder="Photo" required id="file">
                <label class="btn btn-outline-dark" for="file"><div>Choisissez un fichier</div></label>
                <br>
                <textarea class="form-control" name="desc" cols="100%" rows="5" placeholder="Description" required></textarea>
                <button type="submit" class="submit btn btn-outline-dark">Ajouter</button>
            </form>

            <div class="row">
                {{#imgData}}
                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="card">
                        <img src="img/{{img}}" class="img card-img-top" alt="...">
                        
                        <div class="card-body bg-dark"">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">{{desc}}</p>
                            <div class="option" style="display: inline-flex">
                                <a href="img/{{img}}" class="btn btn-outline-light" target="_blank">Ouvrir</a>
                                <form action="/removeImg" method="post">
                                    <input type="text" name="id" value="{{id}}" style="display: none;">
                                    <button class="btn btn-outline-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {{/imgData}}
            </div>
        </div>

        <style>

            #file {
                display: none;
            }

            .inputfile + label {
                display: inline-block;
                border : 3px solid;
                margin: 10px 35%;
                width: 30%;
                font-size: 25px;
                cursor: pointer; /* "hand" cursor */
            }

            /* .inputfile:focus + label,
            .inputfile + label:hover {
                background-color: red;
            } */

            .img {
                border-radius: 25px 25px 0 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .option {
                width: 100%;
            }

            .btn-outline-danger {
                position: absolute;
                right: 0;
                margin-right: 1.25rem;
            }

            .btn-outline-danger:hover {
                color: #343A40;
            }

            .btn {
                border : 2px solid;
                border-radius: 10px;
            }

            .container {
                margin-top: 25px;
                margin-bottom: 25px;
            }
            .card {
                width: 100%; 
                border-radius: 25px; 
                color: white;
            }

            .card-body {
                border-radius: 0 0 25px 25px;
            }

            textarea {
                width: 100%;
            }

            .submit {
                border : 3px solid;
                margin: 10px 35%;
                width: 30%;
                font-size: 25px;
            }
        </style>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
        <script>

            var cw = $('.img').width();
            console.log(cw);
            $('.img').css({
                'height': cw + 'px'
            });

            function handle(evnt) {
            var cw = $('.img').width();
                $('.img').css({
                'height': cw + 'px'
                });
            }

            var inputs = document.querySelectorAll( '.inputfile' );
            Array.prototype.forEach.call( inputs, function( input )
            {
                var label = input.nextElementSibling;
                var labelVal = label.innerHTML;

                input.addEventListener( 'change', function( e )
                {
                    var fileName = this.files[0].name;
                    if( fileName )
                        label.innerHTML = fileName;
                });
            });
        </script>

    </body>
</html>